# https://github.com/romulodf-cesar/python-datascience/blob/master/datasets/tempo_salarios.csv

# Python Data Science

- Instalação do Pandas
- Problema
- Entendimento do Problema
- Carregamento dos Dados
- Entendimento do DataSet
- Análise Descritiva (Estatística)
    - População
    - Amostra
    - Definição das variáveis
    - Medidas (Média, Mediana, Moda, Desvio  Padrão)

# Vetor e uma Matriz

- Ambos são estruturas de dados
- Programador Dev (Vetor) x Cientista de Dados Python (Series)
- Matriz Unidimensional (vetor)
- Uma dimensão 1D 
- Na matemática: matriz linha ou matriz coluna
- Series: indíces

### Matriz

- É uma estrutura de dados
- Programador (Matriz/Coleção) x Cientista de Dados Python (Dataframe)
- Matriz Bidimensional
- 2D - duas dimensões
- Dataframe --> df

# Coluna - j
# Linha - i

# Em Resumo:

### Series x DataFrame

- Series - 1D
- Dataframe - 2D

In [1]:
! pip install pandas

In [2]:
import pandas as pd

### Série e Dataframes
print("Criando uma instancia de Séries a partir se uma tupla")
segundos_jogos = pd.Series((1980, 1984, 1988, 1992))
print(segundos_jogos)

Criando uma instancia de Séries a partir se uma tupla
0    1980
1    1984
2    1988
3    1992
dtype: int64

In [3]:
df = pd.read_csv('datasets/tempo_salarios.csv')

In [4]:
df.head()

   AnosdeExperiencia  Salario
0                1.1  39343.0
1                1.3  46205.0
2                1.5  37731.0
3                2.0  43525.0
4                2.2  39891.0

In [5]:
df.tail()

    AnosdeExperiencia   Salario
25                9.0  105582.0
26                9.5  116969.0
27                9.6  112635.0
28               10.3  122391.0
29               10.5  121872.0

In [9]:
# Correção
jogos_dict = {
    "oxo": 1952,
    "computer_space": 1971,
    "magnavox_odyssey": 1972,
    "pong": 1972,
    "pac man": 1980,
}

In [10]:
jogos_series = pd.Series(jogos_dict)

In [11]:
print(jogos_series)

oxo                 1952
computer_space      1971
magnavox_odyssey    1972
pong                1972
pac man             1980
dtype: int64

In [12]:
jogos_series['pac man']

np.int64(1980)