# Exercício - Estatíca Descritiva (medida de tendência central)

Um pesquisador ficou em determinado cruzameto 18 dias. Nesse cruzamento movimentado em mediu o nível de ruído (em decibéis).<br>MEDIA

In [1]:
# carregar o dataset
# calcular a media
# df.campo.mean()

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('datasets/dataset_ruido.csv')
df.mean()

numero do dia         9.500000
nivel ruido (dB)    108.444444
dtype: float64

In [10]:
df['nivel ruido (dB)'].mean()

np.float64(108.44444444444444)

In [11]:
df = df.rename(columns={'nivel ruido (dB)':'nivel_ruido_db'})

In [12]:
df.nivel_ruido_db.mean()

np.float64(108.44444444444444)

# Mediana

- Técnico
- Explicar para um público leigo
- Primeiro os dados tem que estar em ordem crescente

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   numero do dia   18 non-null     int64
 1   nivel_ruido_db  18 non-null     int64
dtypes: int64(2)
memory usage: 420.0 bytes

- par (n=18)
- a mediana é calculada fazendo-se uma média dos valores que se encontram:
- n/2 = 9° elemento e (n+2/)2 = 10° elemento

In [17]:
df_ordenado = df.sort_values(by='nivel_ruido_db')

In [20]:
df_ordenado

    numero do dia  nivel_ruido_db
0               1              85
1               2              92
2               3              95
3               4              98
4               5              99
5               6             101
6               7             103
7               8             105
8               9             107
9              10             110
10             11             112
11             12             114
12             13             117
13             14             120
14             15             120
15             16             122
16             17             125
17             18             127

In [18]:
df.nivel_ruido_db.median()

np.float64(108.5)

Por ser amostra par, calcula-se a media dos elementos nas posi

Interpretação: "em metade dos dias analisados o nível de ruído foi inferior ou igual a 108,5 decibeis"

# Moda

In [22]:
df.nivel_ruido_db.mode()

0    120
Name: nivel_ruido_db, dtype: int64

- Na frequência
- A moda vai nos auxiliar nos desafios aonde precisaremos calcular a frequência

In [24]:
df.head(2)

   numero do dia  nivel_ruido_db
0              1              85
1              2              92

In [25]:
df.describe()

       numero do dia  nivel_ruido_db
count      18.000000       18.000000
mean        9.500000      108.444444
std         5.338539       12.093860
min         1.000000       85.000000
25%         5.250000       99.500000
50%         9.500000      108.500000
75%        13.750000      119.250000
max        18.000000      127.000000

In [29]:
df.nivel_ruido_db

0      85
1      92
2      95
3      98
4      99
5     101
6     103
7     105
8     107
9     110
10    112
11    114
12    117
13    120
14    120
15    122
16    125
17    127
Name: nivel_ruido_db, dtype: int64

In [30]:
df['nivel_ruido_db'].mean()

np.float64(108.44444444444444)

In [32]:
df['nivel_ruido_db'][8:14]

8     107
9     110
10    112
11    114
12    117
13    120
Name: nivel_ruido_db, dtype: int64

In [33]:
df.nivel_ruido_db[8:14]

8     107
9     110
10    112
11    114
12    117
13    120
Name: nivel_ruido_db, dtype: int64

In [34]:
df.columns

Index(['numero do dia', 'nivel_ruido_db'], dtype='object')

# Quero o nivel de Ruido 10°

In [37]:
df

    numero do dia  nivel_ruido_db
0               1              85
1               2              92
2               3              95
3               4              98
4               5              99
5               6             101
6               7             103
7               8             105
8               9             107
9              10             110
10             11             112
11             12             114
12             13             117
13             14             120
14             15             120
15             16             122
16             17             125
17             18             127

In [35]:
df.loc[10]

numero do dia      11
nivel_ruido_db    112
Name: 10, dtype: int64

In [38]:
df.loc[df.nivel_ruido_db >= 117]

    numero do dia  nivel_ruido_db
12             13             117
13             14             120
14             15             120
15             16             122
16             17             125
17             18             127